/* Wedding colors:
yellow: E19C00
burgandy: 52000B
Sage Green: 849C81
Lavender: CBB9C5
BG Lavender: DCD0D8
*/

/* Main Color Sceme Layout*/
.secondaryText {
  color: #f1efed;
}

.mainText {
  color: #140d0d;
}

/* .accentText {
    color: #790000;
  } */

.BGLavender {
  background-color: #DCD0D8;
}

.lavender {
  background-color: #CBB9C5;
}

.red {
  background-color: #52000B;
}

.yellow {
  background-color: #E19C00;
}

.green {
  background-color: #849C81;
}

.mainFont {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-family: 'Playfair', serif; */
}

.image {
  object-fit: contain;
  /* padding: .5em; */
  width: 100%;
  height: 100%;
}

.brushFont {
  font-family: 'Brush Script MT', cursive;
  text-align: center;
}

.georgiaFont {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.verdanaFont {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}

.largeText{
  font-size: 3em;
}

.smallText{
font-size: 1.25em;
}
.normalText{
  font-size: 2em;
}
.mediumText{
font-size: 2.5em;
}
.tinyText{
  font-size: .25em;
}

.hrWeight{
  height: .3em;
  background-color: white;
}

.underline{
  text-decoration: underline;
  text-align: center;
}

td{
  padding-top: .5em;
  text-align: left;
  /* padding-right: .5em;s */
}

th{
  text-align: center;
  /* padding-right: .5em; */
}

ul{
  text-align: left;
}

.bottomBorder{
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.rightBorder{
  border-right: 1px solid black;
  border-collapse: collapse;
}
