/* Wedding colors:
yellow: E19C00
burgandy: 52000B
Sage Green: 849C81
Lavender: CBB9C5
BG Lavender: DCD0D8
*/

/* Main Color Sceme Layout*/
.secondaryText {
  color: #f1efed;
}

.mainText {
  color: #140d0d;
}

/* .accentText {
    color: #790000;
  } */

.BGLavender {
  background-color: #DCD0D8;
}

.lavender {
  background-color: #CBB9C5;
}

.red {
  background-color: #52000B;
}

.yellow {
  background-color: #E19C00;
}

.green {
  background-color: #849C81;
}

.mainFont {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-family: 'Playfair', serif; */
}

.image {
  object-fit: contain;
  /* padding: .5em; */
  width: 100%;
  height: 100%;
}

.brushFont {
  font-family: 'Brush Script MT', cursive;
}

.georgiaFont {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.verdanaFont {
  font-family: Verdana, Tahoma, sans-serif;
}